apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: color-palette

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - configmap.yaml

images:
  - name: REPLACED_BY_KUSTOMIZE
    newName: REPLACED_BY_OVERLAY
