apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: color-secret
  namespace: color-palette
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets
    kind: SecretStore
  target:
    name: app-secrets
    creationPolicy: Owner
  data:
    - secretKey: API_KEY
      remoteRef:
        key: color-palette/api-key

