apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: color-palette
  namespace: color-palette
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: color-palette
                port:
                  number: 80
